.container {
  background-color: var(--Black);
}

section {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 100vh;
  background-color: var(--Black);
  color: var(--White);
  font-size: 3rem;
  padding: 40px;
  text-align: center;
}

.padding-left {
  padding-left: 40px;
}
.padding-right {
  padding-right: 40px;
}
.fade-in {
  animation: fadeIn 3s;
}

.fade-in-first {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-second {
  animation: fadeIn 1s ease-in-out 1s forwards;
  opacity: 0;
}

.intro-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  font-size: 4rem;
  background-image: url(/public/dots.jpeg);
}

.three-section {
  background-image: url(/public/yellowdots.jpeg);
  background-size: cover;
  color: var(--White);
  width: 100vw;
}

#section3 {
  padding: 60px;
  padding: 0;
  background-image: url("/life-heart.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

#section4 {
  background-image: url("./assets/steve-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 80vh;
  padding: 60px;
  color: white;
}

.padding {
  padding: 80px;
}

.bouncing-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  transform: translateX(-50%);
}

.inner-circle {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typeit-text {
  font-size: inherit; /* Default font size for larger screens */
}
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .mobile-order {
    display: flex;
    flex-direction: column-reverse;
  }

  .padding-left {
    padding: 0;
    font-size: 2rem;
    width: 300px;
  }
  .padding-right {
    padding: 0;
    font-size: 2rem;
    width: 300px;
  }
  .pumpkin {
    transform: scale(0.8);
    position: relative;
    left: 70px;
  }
  .intro-section {
    font-size: 4rem;
  }

  .three-section {
    background-image: url(/public/yellowdots.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
  }

  #section4 {
    background-image: url("./assets/steve-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 30vh;
  }

  #section3 {
    padding: 60px;
    padding: 0;
    background-image: url("/life-heart.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }

  .bouncing-circle {
    left: 200px;
  }
}
