section {
  display: grid;
  place-items: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Black);
  color: var(--White);
  font-size: 3rem;
  padding: 40px;
}

p {
  text-align: center;
}

.fade-in {
  animation: fadeIn 3s;
}

.fade-out {
  animation: fadeOut 3s;
}

.fade-in-out {
  animation: fadeInOut 5s infinite;
}

.scroll-down-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
