.container {
  background-color: var(--Black);
}

section {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 100vh;
  background-color: var(--Black);
  color: var(--White);
  font-size: 3rem;
  padding: 40px;
  text-align: center;
}

.padding-left {
  padding-left: 40px;
}
.padding-right {
  padding-right: 40px;
}
.fade-in {
  animation: fadeIn 3s;
}

.fade-in-out {
  animation: fadeInOut 5s infinite;
}

.intro-section {
  background-color: white;
  color: black;
  font-size: 4rem;
  background-image: url(/public/dots.jpeg);
}

.three-section {
  background-image: url(/public/yellowdots.jpeg);
  background-size: cover;
  color: var(--White);
  width: 100vw;
}

#section4 {
  background-image: url("./assets/steve-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 80vh;
  padding: 60px;
  color: white;
}

#section3 {
  padding: 60px;
  padding: 0;
  background-image: url("/life-heart.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
.padding {
  padding: 80px;
}
.centered,
.scroll-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-button {
  position: absolute;
  bottom: 100px;
  width: 72px;
  height: 72px;
  border-radius: 50px;
  background-color: var(--Black);
  border: 1px solid var(--White);
  cursor: pointer;
}

.scroll-down-button:hover {
  background-color: white;
}

.scroll-down-button #arrow-down {
  position: absolute;
  bottom: 400px;
  width: 72px;
  height: 72px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--White);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typeit-text {
  font-size: inherit; /* Default font size for larger screens */
}
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .mobile-order {
    display: flex;
    flex-direction: column-reverse;
  }

  .padding-left {
    padding: 0;
    font-size: 2rem;
    width: 300px;
  }
  .padding-right {
    padding: 0;
    font-size: 2rem;
    width: 300px;
  }
  .pumpkin {
    transform: scale(0.8);
    position: relative;
    left: 70px;
  }

  .three-section {
    background-image: url(/public/yellowdots.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
  }

  #section4 {
    background-image: url("./assets/steve-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 30vh;
  }

  #section3 {
    padding: 60px;
    padding: 0;
    background-image: url("/life-heart.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }
}
