@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

:root {
  --Black: #131316;
  --White: #ffffff;
}

html {
  font-family: "Alegreya", serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
