@import url("https://rsms.me/inter/inter.css");

:root {
  --Black: #131316;
  --White: #ffffff;
}

* {
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

html {
  font-family: "Inter var", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv06" 1;
  overscroll-behavior: none;
}

.header {
  position: absolute;
  top: 40px;
  font-size: 40px;
}

.header-left {
  left: 90px;
}

.header-right {
  right: 40px;
}

@media (max-width: 768px) {
  .header {
    font-size: 10px;
  }
}
